:root {
  --fs-400: 1.125rem;

  --fw-regular: 400;
  --fw-bold: 500;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
}

h1,
h2,
h3 {
  font-weight: var(--fw-bold);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
