@use "../../styles/utils" as *;

.hero {
  overflow: hidden;
  width: 100vw;
  max-width: 100%;

  .wrapper {
    max-width: 70rem;
    @include margin-x-auto;

    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "text image";
      gap: 1rem;
      padding: 0 2rem;
      box-sizing: content-box;
    }
  }

  .image-container {
    padding: 0 0.5rem 0.5rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      left: 16.25%;
      z-index: -100;
      width: 200%;
      height: 77.5%;
      background-color: var(--clr-primary);
      border-bottom-left-radius: 7.25rem;
    }

    @include breakpoint-up(large) {
      grid-area: image;
    }

    @include breakpoint-up(x-large) {
      img {
        max-width: none;
        width: 125%;
      }

      &::after {
        left: 35%;
        height: 68.75%;
        border-bottom-left-radius: 10.625rem;
      }
    }
  }

  .text-container {
    @include breakpoint-up(large) {
      grid-area: text;
      text-align: left;
    }
  }

  h2 {
    padding: 0 2rem;
    margin: 2.875rem 0 1.125rem;
    font-size: 1.875rem;

    @include breakpoint-up(large) {
      font-size: 3rem;
      line-height: 1.0625;
      margin-top: 4.75rem;
      padding: 0;
    }
  }

  p {
    padding: 0 2rem;

    @include breakpoint-up(large) {
      padding: 0;
      margin-left: 0;
    }
  }

  .buttons-wrapper {
    margin-top: 2.25rem;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(2, 9.625rem);
    gap: 1rem;
    justify-content: center;

    button {
      padding-left: 0;
      padding-right: 0;
    }

    @include breakpoint-up(large) {
      padding: 0;
      justify-content: start;
      grid-template-columns: repeat(2, 10rem);
    }
  }
}
