@use "../../styles/utils/" as *;

.contact {
  background-color: var(--clr-primary);
  color: var(--clr-neutral-100);
  padding: 4.5rem 2rem;

  p {
    font-size: 0.9375rem;
    text-transform: uppercase;
    letter-spacing: 0.25em;

    @include breakpoint-up(large) {
      letter-spacing: 0.3125em;
    }
  }

  h2 {
    color: var(--clr-neutral-100);
    font-size: 1.5rem;
    margin-top: 0.5rem;

    @include breakpoint-up(large) {
      font-size: 2.0625rem;
      max-width: 20ch;
      margin-top: 2.375rem;
      @include margin-x-auto;
    }
  }

  form {
    margin-top: 2rem;

    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 18.75rem 7.875rem;
      gap: 1rem;
      justify-content: center;
      align-items: start;
    }
  }

  input {
    width: 100%;
    font-size: 0.875rem;
    background-color: var(--clr-neutral-100);
    border: 0.125rem solid var(--clr-neutral-100);
    padding: 0.75rem 1.125rem;
    border-radius: 0.3125rem;
    color: var(--clr-neutral-700);

    &::placeholder {
      color: var(--clr-neutral-400);
    }

    &:focus {
      outline: none;
    }

    @include breakpoint-down(medium) {
      width: 100%;
    }

    @include breakpoint-up(large) {
      font-size: 0.9375rem;
    }
  }

  span {
    display: none;
  }

  svg {
    display: none;
  }

  button {
    @include breakpoint-down(medium) {
      margin-top: 1.125rem;
      display: block;
      width: 100%;
    }
  }

  .error {
    display: flex;
    flex-direction: column;
    position: relative;

    input {
      border: 0.125rem solid var(--clr-accent);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    svg {
      display: block;
      position: absolute;
      right: 1rem;
      top: 0.875rem;
    }

    span {
      display: block;
      text-align: left;
      background-color: var(--clr-accent);
      font-size: 0.65625rem;
      padding-top: 0.25rem;
      padding-bottom: 0.375rem;
      padding-left: 0.75rem;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}
