@use "../../../styles/utils" as *;

.accordion {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid hsla(229, 8%, 60%, 0.375);
  padding: 1.125rem 0;

  @include breakpoint-up(medium) {
    &:first-of-type {
      border-top: 1px solid hsla(229, 8%, 60%, 0.375);
      padding: 1.25rem 0;
    }
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: var(--clr-neutral-700);
    font-size: 0.9375rem;
    font-weight: var(--fw-regular);
    padding: 0;
    border: none;
    outline: none;

    @include media-hover {
      &:hover {
        color: var(--clr-accent);
      }
    }

    @include breakpoint-up(medium) {
      font-size: 1.21875rem;
      padding-right: 1.5rem;
    }
  }

  &__icon {
    transition: transform 312.5ms ease-in-out;
    stroke: var(--clr-primary);
  }

  .rotate {
    transform: rotate(180deg);
    stroke: var(--clr-accent);
  }

  &__content {
    overflow: hidden;
    transition: max-height 312.5ms ease-in-out;

    p {
      font-size: 0.9375rem;
      text-align: left;
      padding: 1.75rem 0 0.75rem;
      max-width: none;
      line-height: 1.875;

      @include breakpoint-up(medium) {
        font-size: 1.03125rem;
        padding: 2.25rem 0 0.625rem;
        line-height: 2;
      }
    }
  }
}
